[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Trent Mick
	email = trentm@gmail.com
[core]
	autocrlf = input
[alias]
	unstage = reset HEAD
	st = status
	di = diff
	ci = commit
	log1 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    # pnemonic: rpull == rebase-pull
    rpull = pull --rebase
    fo = fetch origin
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[branch]
	autosetupmerge = true
